[Unit]
Description=Clear dnsmasq lease file
DefaultDependencies=no
Wants=network-pre.target
After=network-pre.target

[Service]
Type=oneshot
ExecStart=/home/admin/script/DNS/clear-usb0-leases.sh

[Install]
WantedBy=multi-user.target