[Unit]
Description=Clear dnsmasq lease file
DefaultDependencies=no
After=network.target
Before=unbound.service

[Service]
Type=oneshot
ExecStart=/home/admin/script/DNS/clear-usb0-leases.sh

[Install]
WantedBy=multi-user.target