[Unit]
Description=Clear dnsmasq leases for usb0
After=local-fs.target
Before=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/home/admin/script/DNS/clear-usb0-leases.sh

[Install]
WantedBy=multi-user.target